.custom-card {
    background-color: #008f39; /* verde escuro */
    border: 2px solid #002e58; /* azul claro */
    border-radius: 15px;
}

h1, h4 {
    color: #ff7f50; /* laranja */
}
body, .custom-card, .form-section, label {
    color: #a0d7b2;
}

body {
    background-color: antiquewhite;
}